Marine Debris.v3i.yolov9.zip
src/test,py
Yolo/runs
Yolo/runs.zip
src/__pycache__
Resnet/results
Resnet/__pycache__
Resnet/results.zip
Old_Data
Marine Debris.v5i.yolov9.zip
Cropped_Data
src/resources
weights/Version 1 Weights
Yolo/runs(1).zip
Resnet/__pycache__
Resnet/validcm.py
src/processing
Data
REsnet/__pycache__